@{
  Layout = "_Layout";
}
<center>
<h1><b><i>@Model["vendor"].Description</i></b> Order Details</h1>
<br>
<h3>Vendor: <b>@Model["vendor"].Description</b></h3>
<h3>Order of: <b>@Model["order"].Description</b></h3>
<h3>Quantity: <b>@Model["order"].Quantity</b></h3>
<h3>Price: <b>@Model["order"].Price</b></h3>
<h3>Date: <b>@Model["order"].Date</b></h3>
<br>
<br>
@* <p><a href='/vendors/@Model["vendor"].Id/order/@Model["order"].Id/orders/new'>Edit Order</a></p> *@

<p><a href='/vendors/@Model["vendor"].Id/order/@Model["order"].Id/DeleteAll'>Delete Order</a></p>

<p><a href='/vendors/@Model["vendor"].Id'>Order Overview</a></p>

</center>
