@{
  Layout = "_Layout";
}
<center>
<h1><b><i>@Model["vendor"].Description</i></b> Order Details</h1>
<br>
<h3>Vendor: <i>@Model["vendor"].Description</i></h3>
<h3>Order of: <i>@Model["order"].Description</i></h3>
<h3>Quantity: <i>@Model["order"].Quantity</i></h3>
<h3>Price: <i>@Model["order"].Price</i></h3>
<h3>Date: <i>@Model["order"].Date</i></h3>
<br>
<br>
@* <p><a href='/vendors/@Model["vendor"].Id/order/@Model["order"].Id/orders/new'>Edit Order</a></p> *@

<p><a href='/vendors/@Model["vendor"].Id/order/@Model["order"].Id/DeleteAll'>Delete Order</a></p>

<p><a href='/vendors/@Model["vendor"].Id'>Order Overview</a></p>

</center>
